* {
    margin: 0;
    padding: 0;
}

.container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    margin: 3rem;
}

.box {
    width: 20rem;
    
}

img {
    width: 20rem;
    height: 13rem;
    object-fit: cover;
}

.buttons-container {
    background-color: lightslategray;
    width: 20rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 2rem 0 2rem;
}

.view {
    display: flex;
    align-items: center;
}

.buy {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}